body {
  margin: 0;
  padding: 0;
  background: #7FADE2;
  font-family: "Poppins", sans-serif;
}

/* Top navbar */
.navbar {
  height: 70px;
  background: #0F3A8D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 17px;
  font-weight: 600;
}

.navbar .arrow {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar .menu {
  font-size: 30px;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
}

/* Grid Layout */
.grid-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  place-items: center;
}

/* Card Styling */
.card {
  width: 250px;
  background: #083075;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid white;
  color: white;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.card-header img {
  width: 22px;
}

.date-bar {
  background: #0C3C98;
  padding: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.clock-icon {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  background: url("https://cdn-icons-png.flaticon.com/512/2088/2088617.png") no-repeat center;
  background-size: contain;
}

.time {
  font-size: 13px;
  margin-top: 10px;
}

.subject {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.teacher {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 5px;
}

/* Join Button */
.join-btn {
  margin-top: 15px;
  background: white;
  color: #0A2C78;
  border: none;
  padding: 7px 30px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}
/* POPUP STYLE */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #0F3A8D;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  color: white;
  border: 2px solid white;
  position: relative;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.popup-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.popup-box p {
  font-size: 14px;
  opacity: 0.9;
}

/* Tombol X */
.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}
