* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background-color: #ffffff;
      color: #333;
      overflow-x: hidden;
      font-size: 30px;
    }

    /* ================= HERO ================= */
    .hero {
      background-color: #98B9EE;
      color: white;
      padding: 250px 100px 6px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 20px;
      flex-wrap: wrap;
      position: relative;
    }

    .hero-left {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 40px;
      z-index: 2;
      animation: fadeUp 1.3s ease forwards;
    }

    .hero-left h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .hero-left .hero-text {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.6;
      color: #ffffff;
      margin-bottom: 25px;
    }

    .hero-left a {
      background-color: #1B449C;
      color: white;
      padding: 14px 30px;
      border-radius: 8px;
      font-weight: 600;
      text-decoration: none;
      transition: 0.3s;
      font-size: 16px;
      width: 210px;
    }

    .hero-left a:hover {
      background-color: #092153ff;
    }

    .hero-right {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      min-width: 280px;
      position: relative;
      padding-left: 20px;
      top: -180px;
      animation: fadeUp 1.3s ease forwards;
    }

    .hero-right img:first-child {
      display: block;
      width: auto;
      max-width: 430px;
      height: auto;
    }

    .logo-atas {
      position: absolute;
      top: -130px;
      right: 780px;
      width: 400px;
      height: auto;
    }

    /* ================= ANIMASINY ================= */
    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* ================= LANCER ITU APA ================= */
    /* DAN GARIS YANG DI ATAS "LANCER ITU APA" */
    .about {
      background-color: #98B9EE;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 120px 100px 250px;
      border-top: 30px solid #ffffff;
      gap: 30px;
      position: relative;
      top: -190px;
      flex-wrap: wrap;
      z-index: 1;
    }

    .about-text {
      flex: 1;
      min-width: 300px;
      margin-top: 30px;
      animation: fadeUp 1.3s ease forwards;
    }

    .about-text h2 {
      color: #ffffff;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: left;
    }

    .about-text p {
      font-size: 17px;
      line-height: 1.9;
      color: #ffffff;
      max-width: 600px;
      text-align: justify;
    }

    .about-images {
      flex: 1;
      position: relative;
      min-width: 300px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
    }

    .about-image-main {
      width: 320px;
      height: 320px;
      border-radius: 50%;

      box-shadow: 0 8px 20px rgba(11, 35, 90, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 3;
      background-color: #98B9EE;
      animation: fadeUp 1.3s ease forwards;
    }

    .about-image-main img {
      width: 95%;
      height: 95%;
      border-radius: 50%;
      object-fit: cover;
    }

    /* Gambar kecil umum */
    .about-image-small {
      border-radius: 50%;
      box-shadow: 0 6px 15px rgba(11, 35, 90, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: #98B9EE;
      animation: fadeUp 1.3s ease forwards;
    }

    .about-image-small img {
      width: 95%;
      height: 95%;
      border-radius: 50%;
      object-fit: cover;
    }

    /* Gambar kanan (ica-sindy) */
    .small-right {
      top: 180px;
      right: -70px;
      width: 190px;
      height: 190px;
      z-index: 2;
      border: none;
    }

    /* Gambar bawah tengah (ber3) */
    .small-bottom {
      bottom: -230px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
      z-index: 1;
      border: none;
    }

    /* ================= TENTANG KAMI ================= */
    .tentang {
      background-color: #1B449C;
      color: white;
      padding: 80px 40px;
      text-align: center;
      margin-top: -150px;
      z-index: 2;
      position: relative;
    }

    .tentang h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 50px;
      text-transform: uppercase;
    }

    .card-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
    }

    .card {
      background-color: white;
      width: 260px;
      padding: 35px 25px;
      border-radius: 12px;
      text-align: center;
      color: #333;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: 0.3s ease;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card-icon img {
      width: 70px;
      height: 70px;
      margin-bottom: 15px;
      object-fit: contain;
    }

    .card h3 {
      font-size: 20px;
      color: #00334e;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .card p {
      font-size: 16px;
      line-height: 1.7;
      color: #444;
    }

    /* ================= FOOTER ================= */
    footer {
      background-color: #082054;
      color: white;
      padding: 60px 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
      gap: 40px;
    }

    .footer-left {
      flex: 1;
      min-width: 250px;
    }

    .footer-left img {
      width: 190px;
      margin-bottom: 20px;
    }

    .footer-left p {
      font-size: 15px;
      line-height: 1.8;
      color: #d3e0e7;
    }

    .footer-column {
      flex: 1;
      min-width: 200px;
    }

    .footer-column h4 {
      color: #00c853;
      font-size: 18px;
      margin-bottom: 12px;
    }

    .footer-column p,
    .footer-column a {
      font-size: 15px;
      color: #d3e0e7;
      text-decoration: none;
      line-height: 1.8;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: 0.3s;
    }

    .footer-column a:hover {
      color: white;
    }

    .social-icon {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
